body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
  background-image: url('flowers.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navbar {
  background-color: rgba(228, 159, 147, 0.8);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 0;
}

#menuToggle {
  font-size: 24px;
  cursor: pointer;
  color: white;
  margin-right: 10px;
  z-index: 1001;
}

#theme a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  position: relative;
}

#theme a:hover {
  color: #8B4513;
  font-weight: bold;
}

#theme a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #8B4513;
  transition: width 0.3s ease;
}

#theme a:hover::before {
  width: 100%;
}

@media screen and (max-width: 600px) {
  #navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #theme a {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

#inputDescription {
  margin-bottom: 10px;
  color: #333;
}

.line1 {
  font-size: 26px;
  font-weight: bold;
}

.line2 {
  font-size: 18px;
}

#inputContainer {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(245, 235, 235, 0.8);
  margin-top: 20px;
  border-radius: 10px;
}

#articleInput {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  aspect-ratio: 2 / 1;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
  font-size: 16px;
}

#articleInput:focus {
  background-color: rgb(255, 255, 255);
}

#submitButton {
  width: 18%;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

#errorMessage {
  color: red;
  font-size: 14px;
}

#completionMessage {
  margin-top: 10px;
  color: green;
}

/* Sidebar styles */

#sidebar {
  position: fixed;
  top: 5%;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(248, 244, 244, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 999; /* 將 z-index 設置為比 #navbar 更小的值 */
  display: flex;
  flex-direction: column; /* 將子元素排成垂直方向 */
}

#sidebar a {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(44, 44, 44);
  display: block;
  transition: 0.3s;
  order: 1; /* 設置預設順序，讓這些連結排在最下面 */
}

#sidebar a:hover {
  color: #8B4513;
}

#sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

/* Sidebar animation */

@keyframes sidebarAnimation {
  from {
    width: 0;
  }
  to {
    width: 250px;
  }
}
