<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>資料支援</title>
  <!-- 在 mbti.html 中 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div id="navbar">
    <div id="menuToggle" onclick="toggleSidebar()">&#9776;</div>
    <div id="logo">
      <a href="{{ url_for('index') }}"> 
        --MBTI--
      </a> 
    </div>
    <div id="theme">
      <a href="{{ url_for('detail') }}">類型介紹</a>
      <a href="{{ url_for('data_support') }}">數據支持</a>
      <!-- Add more themes as needed -->
    </div>
  </div>
  
  <!-- 新增 sidebar -->
  <div id="sidebar">
    <a href="{{ url_for('detail') }}">類型介紹</a>
    <a href="{{ url_for('data_support') }}">數據支持</a>
    <!-- Add more themes as needed -->
  </div>
  <div class="data_support-image-container">
    <div class="data_support-image-row">
      <div class="data_support-image-item">
        <h3 class="data_support-content">資料集：6400筆(各個人格類型爬取400筆資料)</h3>
      </div>
      <div class="data_support-image-item">
        <img src="static/pictures/type_num.jpg" alt="圖片1" class="data_support-image" onclick="showImage(this)">
      </div>
    </div>
    <div class="data_support-image-row">
      <div class="data_support-image-item">
        <img src="static/pictures/category_num.jpg" alt="圖片2" class="data_support-image" onclick="showImage(this)">
      </div>
      <div class="data_support-image-item">
        <h3 class="data_support-content">各傾向資料筆數</h3>
      </div>
    </div>
    <!-- <div class="data_support-image-row">
      <div class="data_support-image-item">
        <h3 class="data_support-content">這是圖片3的說明文字</h3>
      </div>
      <div class="data_support-image-item">
        <img src="static/type_num.jpg" alt="圖片3" class="data_support-image" onclick="showImage(this)">
      </div>
    </div>
    <div class="data_support-image-row">
      <div class="data_support-image-item">
        <img src="static/type_num.jpg" alt="圖片4" class="data_support-image" onclick="showImage(this)">
      </div>
      <div class="data_support-image-item">
        <h3 class="data_support-content">這是圖片4的說明文字</h3>
      </div>
    </div> -->
  </div>
  <div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img id="modalImage" class="modal-content">
  </div>
</body>
</html>
