<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>人格類型介紹</title>
  <!-- 在 mbti.html 中 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div id="navbar">
    <div id="menuToggle" onclick="toggleSidebar()">&#9776;</div>
    <div id="logo">--MBTI--</div>
    <div id="theme">
      <a href="{{ url_for('detail') }}">類型介紹</a>
      <a href="{{ url_for('data_support') }}">數據支持</a>
      <a href="#" onclick="navigateToTheme('theme3')">主題3</a>
      <!-- Add more themes as needed -->
    </div>
  </div>
  
  <!-- 新增 sidebar -->
  <div id="sidebar">
    <a href="{{ url_for('detail') }}">類型介紹</a>
    <a href="{{ url_for('data_support') }}">數據支持</a>
    <a href="#" onclick="navigateToTheme('theme3')">主題3</a>
    <!-- Add more themes as needed -->
  </div>

  <div class="image-container">
    <div class="image-row">
      <div class="image-item">
        <h3>能量態度（外向，E / 內向，I）</h3>
        <img src="static/pictures/1.jpg" alt="Image 1" class="image" onclick="showImage(this)">
      </div>
      <div class="image-item">
        <h3>處理資訊（實感，S / 直覺，N）</h3>
        <img src="static/pictures/2.jpg" alt="Image 2" class="image" onclick="showImage(this)">
      </div>
    </div>
    <div class="image-row">
      <div class="image-item">
        <h3>決策思維（理性，T / 感性，F）</h3>
        <img src="static/pictures/3.jpg" alt="Image 3" class="image" onclick="showImage(this)">
      </div>
      <div class="image-item">
        <h3>生活方式（系統，J / 彈性，P）</h3>
        <img src="static/pictures/4.jpg" alt="Image 4" class="image" onclick="showImage(this)">
      </div>
    </div>
    <div class="image-row">
      <div class="image-item">
        <h3>NF 族群：理想主義者</h3>
        <img src="static/pictures/nf.jpg" alt="Image 1" class="image" onclick="showImage(this)">
      </div>
      <div class="image-item">
        <h3>NT 族群：理性主義者</h3>
        <img src="static/pictures/nt.jpg" alt="Image 2" class="image" onclick="showImage(this)">
      </div>
    </div>
    <div class="image-row">
      <div class="image-item">
        <h3>SJ 族群：社群主義者</h3>
        <img src="static/pictures/sj.jpg" alt="Image 3" class="image" onclick="showImage(this)">
      </div>
      <div class="image-item">
        <h3>SP 族群：現實主義者</h3>
        <img src="static/pictures/sp.jpg" alt="Image 4" class="image" onclick="showImage(this)">
      </div>
    </div>
</div>

  <div>
    <h5>來源：https://www.managertoday.com.tw/articles/view/65508?utm_source=copyshare ©經理人</h5>
  </div>

</body>
</html>
