<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MBTI</title>
  <!-- 在 mbti.html 中 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

<div id="navbar">
  <div id="menuToggle" onclick="toggleSidebar()">&#9776;</div>
  <div id="logo">--MBTI--</div>
  <div id="theme">
    <a href="{{ url_for('detail') }}">類型介紹</a>
    <a href="{{ url_for('data_support') }}">數據支持</a>
    <a href="#" onclick="navigateToTheme('theme3')">主題3</a>
    <!-- Add more themes as needed -->
  </div>
</div>

<!-- 新增 sidebar -->
<div id="sidebar">
  <a href="{{ url_for('detail') }}">類型介紹</a>
  <a href="{{ url_for('data_support') }}">數據支持</a>
  <a href="#" onclick="navigateToTheme('theme3')">主題3</a>
  <!-- Add more themes as needed -->
</div>

<div id="inputContainer">
  <p id="inputDescription">
    <span class="line1">測測你的人格類型</span><br>
    <span class="line2">快留下你此刻的心情或近期的貼文內容吧</span>
  </p>
  <form id="articleForm" action="/predict" method="post">
    <textarea id="articleInput" placeholder="請輸入文章..."></textarea>
    <button id="submitButton" onclick="checkAndSubmit()">點我看結果</button>
    <div id="errorMessage"></div>
  </form>
  
</div>
<div id="completionMessage"></div>

</body>
</html>
