<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI</title>
    <!-- 在 mbti.html 中 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
  
  <div id="navbar">
    <div id="menuToggle" onclick="toggleSidebar()">&#9776;</div>
    <div id="logo">
      <a href="{{ url_for('index') }}"> 
        --MBTI--
      </a> 
    </div>
    <div id="theme">
      <a href="{{ url_for('detail') }}">類型介紹</a>
      <a href="{{ url_for('data_support') }}">數據支持</a>
      <!-- Add more themes as needed -->
    </div>
  </div>
  
  <!-- 新增 sidebar -->
  <div id="sidebar">
    <a href="{{ url_for('detail') }}">類型介紹</a>
    <a href="{{ url_for('data_support') }}">數據支持</a>
    <!-- Add more themes as needed -->
  </div>

  <div id="loadingSpinner"></div>
  <div id="loadingMessage">
    填寫完成，請稍後...
  </div>

  <!-- 這裡可以添加其他等待頁面的內容 -->

  <script>
    // 在等待頁停留5秒後，自動跳轉到結果頁
    setTimeout(function() {
      window.location.href = "result.html";
    }, 5000);
  </script>
</body>
</html>
